{% for writeup in writeups %}
<a href="{{ writeup.get_absolute_url }}" class="writeup-row">
  <div class="writeup-left">
    <div class="writeup-dot"></div>
    <span class="writeup-title">{{ writeup.title }}</span>
  </div>
  <div class="writeup-right">
    <span class="writeup-tag">{{ writeup.primary_tag }}</span>
    <span class="writeup-date mono">{{ writeup.date|date:"m-d-Y" }}</span>
  </div>
</a>
{% empty %}
<div class="writeup-row">
  <div class="writeup-left">
    <div class="writeup-dot" style="background:#2a2a2a;"></div>
    <span class="writeup-title" style="color:#555;">No results found</span>
  </div>
</div>
{% endfor %}
